@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #E0DBDB;
  --orange: #EC6309;
  --yellow: #F6C162;
  --red: #B7010D;
  --heading2-secondary: 96px; 
   --content-width: max(20px, 50% - 70rem / 2);
  --content-width-lg: max(20px, 50% - 50rem / 2);
}

.no-padding{
  padding-inline: 0;
}

.red{
  color:var(--red);
}

.orange{
  color:var(--orange);
}

.yellow{
  color:var(--yellow);
}

.white{
  color:var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
   font-family: 'Inter', sans-serif;
   hyphens:auto;
   section{
    margin-top: 10rem;
   }
}

.display{
  font-size: 128px;
}

h1{
  font-size:64px;
  text-transform: uppercase;
  color: var(--red);
  line-height: 0.8;
  font-family: var(--font-luckiest), cursive;
  text-wrap: balance;
}

h2{
    font-family: var(--font-koulen), cursive;
    color: var(--orange);
    font-size:38px;
      text-wrap: balance;
}

.heading2-secondary{
  font-size:var(--heading2-secondary);
  line-height: 1;
}

h3{
  font-size:28px;
  color: var(--yellow);
  font-family: var(--font-koulen), cursive;
    text-wrap: balance;
}

p{
  padding-bottom: 1rem;
  text-wrap: pretty;
}

blockquote{
  font-size:36px;
  line-height: 1;
  font-weight: 800;
  font-style: italic;
  text-wrap: balance;
  text-transform: uppercase;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  color: hsl(190 30% 12%);
  border-bottom: 1px solid #dadada;
  transition: all 0.5s ease;
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &[open] {
    --r: z 90deg;
  }

  &::details-content {
    transition: all 0.5s ease, content-visibility 0.5s allow-discrete,
      rotate 0.3s ease;
    height: 0;
    overflow: clip;
  }
  &[open]::details-content {
    height: auto;
  }

  @supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }
    [open]::details-content {
      height: auto;
    }
  }
}

